*{
  font-family: Helvetica;
}

/*HEADER BLOCK*/
h1{
  font-size: 100px;
  font-weight: normal;
  height: 40px;
  padding-bottom: 20px;
}

.header{
  color: white;
  background-color: rgb(132,84,31);
  width: 1000px;
  display: inline-block;
  padding-left: 50px;
  padding-top: 75px;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
}

.border{
  border: 1px solid;
  border-color: white;
  border-radius: 5px;
  width: 200px;
  font-size: 40px;
  padding: 2px;
  text-align: center;
}

/*CONTENT BLOCK*/
h2{
  text-align: center;
  color: rgb(162,22,0);
  border-bottom: 2px solid;
  width: 800px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
}

.content{
  display: inline-block
  width: 1000px;
  text-align: center;
}

.quote{
  width: 225px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 20px;
}

.source{
  font-weight: bold;
  vertical-align: top;
  font-size: 15px;
}

.source img{
  border-radius: 100%;
  width: 35px;
  overflow: hidden;
}

/*COOKIE DIVIDER*/
.bigcookie{
  height: 300px;
  width: 1000px;
  margin: 0 auto;
}

/*GOODS BLOCK*/
.square{
  width: 150px;
  border: 1px solid;
  border-color: gray;
  padding: 5px;
  margin: 10px;
}

.goods{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

/*FORM*/
.form{
  background-color: rgb(43,12,0);
  color: white;
  width: 1000px;
}

form{
  width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.form h2{
  color: white;
  font-size: 50px;
  font-weight: normal;
}

.form div{
  padding: 5px;
  font-size: 20px;
  font-style: bold;
}

input{
  border-radius: 5px;
  display: block;
  width: 230px;
  height: 30px;
}

select{
  display: block;
  width: 150px;
}


